<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appsewabuku">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="SEWA BUKU"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SewaBuku">

        <activity
            android:name=".buku4"
            android:exported="false" />

        <activity
            android:name=".buku3"
            android:exported="false" />
        <activity
            android:name=".buku2"
            android:exported="false" />

        <activity
            android:name=".HistoryActivity"
            android:exported="true"
            android:label="History">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:exported="true"
            android:label="Detail"
            android:parentActivityName=".pilihbukuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pilihbukuActivity" />
        </activity>
        <activity
            android:name=".BerandaActivity"
            android:exported="true"
            android:label="Beranda"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".pilihbukuActivity"
            android:exported="true"
            android:label="Pilih buku"
            android:parentActivityName=".BerandaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BerandaActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>